---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';

const socials = [
	{href: "https://github.com/deuavt", img: "/github-icon.png", lbl: "GitHub", trg: "_blank"},
	{href: "https://www.linkedin.com/in/connorfrisby/", img: "/linkedin-icon.png", lbl: "LinkedIn", trg: "_blank"},
	{href: "mailto:connorjfrisby@gmail.com", img: "/email-icon.png", lbl: "Email", trg: "_self"}
]

---

<Layout>
	<Nav />
	<main>
		<h1 class="title">ABOUT ME</h1>
		<hr class="divider">
		<div class="socials">
			{socials.map(s => (
				<a rel="noopener noreferrer" target={s.trg} class="social-btn" href={s.href}>
					<img class="social-icon" src={s.img} alt={s.lbl} />
				</a>
			))}
		</div>

		<section class="row">
			<div class="left">
				<h2 class="col-title">Who Am I?</h2>
				<p>I am a Bachelor of Science student at the <b>University of Melbourne</b>, majoring in <b>Mathematics and Statistics</b>.</p>
				<p>I love studying mathematics and programming in my free time, with <b>5+ years</b> of experience in programming, mastering <b>Python</b> as my primary language.</p>
				<p>Throughout VCE, I studied:
				<ul>
					<li>Specialist Maths</li>
					<li>Methods Maths</li>
					<li>General Maths</li>
					<li>Physics</li>
					<li>Applied Computing: Software Development</li>
					<li>English Language</li>
				</ul> 
				<p>I also completed <b><a rel="noopener noreferrer" target="_blank" href="https://study.unimelb.edu.au/connect-with-us/high-school-programs/university-of-melbourne-extension-program">UMEP Mathematics</a></b>, where I studied two University of Melbourne subjects concurrent to VCE.</p>
				<p>I now provide one-on-one private Mathematics tutoring to high school students. For more details visit my <a href="/tutoring">tutoring page</a>.</p>
			</div>
			<div class="right">
				<h2 class="col-title">Credentials</h2>
				<p><b>VCE results:</b></p>
				<ul>
					<li><i><b>ATAR:</b></i> 98.15</li>
					<li><i><b>Study Scores</b></i>:
					<table>
					<thead>
						<tr>
						<th>Subject</th>
						<th>Raw Score</th>
						<th>Scaled Score</th>
						<th>Year 12 Avg Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr><td><i>Maths Methods</i></td><td>44</td><td>48</td><td>94%</td></tr>
						<tr><td><i>Specialist Maths</i></td><td>38</td><td>50</td><td>93%</td></tr>
						<tr><td><i>General Maths</i></td><td>44</td><td>43</td><td>94%</td></tr>
					</tbody>
					</table>
					</li>
				</ul>
				<b>UMEP Results:</b>
				<ul>
					<li><i><a rel="noopener noreferrer" target="_blank" href="https://study.unimelb.edu.au/connect-with-us/high-school-programs/university-of-melbourne-extension-program/what-UMEP-offers/atar-contribution">Equivalent Study Score:</a></i> 50</li>
					<li><i>Linear Algebra:</i> 94%</li>
					<li><i>Calculus 2:</i> 97%</li>
				</ul>
				<p>I also received the <b><a rel="noopener noreferrer" target="_blank" href="https://www2.adffutureinnovators.adfcareers.gov.au/schools/AwardsInformationSTEM.aspx">Year 12 ADF Future Innovators Award</a></b>.</p>
				<p>For more details visit my <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/connorfrisby/">LinkedIn</a>.</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	table { 
		border-collapse: collapse; 
		margin: 24px 12px;
	}
	th, td { border: 1px solid; padding: 4px 8px; }
	th:nth-child(2), td:nth-child(2) { width: 20px; }
	th:nth-child(3), td:nth-child(3) { width: 20px; }
	th:nth-child(4), td:nth-child(4) { width: 100px; }

	.socials {
		display: flex;
		margin: 0 0 4vh;
		gap: 2vw;
		justify-content: center;
	}
	.social-btn {
		display: inline-block;
		width: clamp(16px, 1.9vw, 52px);
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;
	}
	.social-icon {
		width: 100%;
		height: 100%;
		filter: grayscale(1) contrast(100) brightness(1);
		opacity: 0.7;
	}

	.row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
		gap: 5vw;
		padding: 0 5vw;
	}

	.col-title {
		font-family: "Times New Roman";
		font-weight: 500;
		font-size: clamp(1rem, 1.75vw, 3rem);
	}

	.left { justify-self: end; }
	.right { justify-self: start; }
	.center {justify-self: center;}
	.left { max-width: 50ch; }
	.right { max-width: 54ch; }
</style>	