---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Nav />
	<main>
		<h1 class="title">CONTACT</h1>
		<hr class="divider">

		<div class="row">
			<div class="left">
				<h2 class="header-main">Get In Touch</h2>
				<h3 class="header-sub">I'd love to hear from you!</h3>
				<p>If you wish to book a session with me, have any further questions, or just want to chat, please feel free to contact me through email:</p>
				<a class="email" href="mailto:connorjfrisby@gmail.com">connorjfrisby@gmail.com</a>
				<p>Text communications are available once tutoring has been arranged.</p>
			</div>
			<form class="right">
				<h2 class="card-title header-main">Contact Me</h2>
				<label>
					Name
					<input name="name" type="text" placeholder="Your Name" />
				</label>
				<label>
					Email Address
					<input name="email" type="email" placeholder="your@email.com" />
				</label>
				<label>
					Message
					<textarea name="message" rows="6" placeholder="What can I help you with?"></textarea>
				</label>
				<button disabled>Currently Unavailable; Email Directly</button>
			</form>
		</div>
	</main>
</Layout>

<style>
	.row {
		margin-top: 7.5vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
		justify-items: center;
		gap: 128px;
	}

	.left {
		max-width: 20vw;
		justify-self: end;
	}
	.right {
		max-width: 25vw;
		justify-self: stretch;
		border-radius: 14px;
		padding: 32px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
		font-family: "Inter";
	}

	.header-main, .header-sub { font-weight: 500; }
	.header-main { font-family: "Times New Roman"; }
	.email {
		margin: auto 2em;
		font-size: 1.2rem;
	}

	.card-title {
		font-size: 32px;
		margin: 0 0 20px 0;
	}
	label {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.7);
		margin: 20px 10px;
	}
	input, textarea {
		margin: 8px 0;
		padding: 12px;
		border-radius: 10px;
		border: 1px solid rgba(0, 0, 0, 0.6);
		font: inherit;
		resize: none;
	}
	button {
		display: block;
		margin: 12px auto;
		padding: 8px 24px;
		border-radius: 4px;
		width: fit-content;
		border: 1px solid rgba(0, 0, 0, 0.6);
		background: transparent;
	}
</style>	