---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Nav />
	<main>
		<h3 class="sub-title top">University of Melbourne – BSci (Math & Statistics)</h3>
		<h1 class="main-title">Connor Frisby</h1>
		<h3 class="sub-title bottom">Math & CS Student · Private Math Tutor</h3>
		<section class="buttons">
			<a class="btn" href="/about">About Me</a>
			<a class="btn" href="/tutoring">Tutoring</a>
			<a class="btn" href="/contact">Contact</a>
		</section>
	</main>
</Layout>

<style>	
	.top {margin: 15% auto 0;}
	.bottom {margin: 2vh auto;}

	.sub-title {
		text-align: center;
		font-size: clamp(1rem, 1.25vw, 2rem);
		letter-spacing: 0.04em;
		font-weight: 300;
		padding: 0 3vw;
		color: rgba(0, 0, 0, 0.5);
	}
	.main-title {
		text-align: center;
		font-family: "Times New Roman";
		font-size: clamp(2rem, 2.5vw, 4rem);
		letter-spacing: 0.04em;
		font-weight: 500;
		margin: 2vh auto;
	}

	.buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 1vw;
	}
	.btn {
		--unit: clamp(1rem, 1vw, 3rem);
		margin: calc(0.75 * var(--unit)) calc(0.75 * var(--unit));
		padding: calc(0.75 * var(--unit)) calc(1.5 * var(--unit));
		border: 2px solid rgba(0, 0, 0, 0.3);
		border-radius: 6px;
		white-space: nowrap;
		color: inherit;
		font: inherit;
		font-size: var(--unit);
		text-decoration: none;
	}
</style>	