---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Nav />
	<main>
		<h1 class="title">TUTORING</h1>
		<hr class="divider">

		<p class="mid">I offer private Mathematics tutoring, specialising in VCE <b>Mathematical Methods</b> and <b>Specialist Mathematics</b>.</p>
		<p class="mid"><br> See my qualifications on my <a href="/about">about me page</a>.</p>
		<section class="row">
			<div class="left">
				<img class="profile-img" src="/tutoring.jpg" alt="Tutoring" />
			</div>
			<div class="right">
				<h2 class="col-title">Services & Rates</h2>
				<p>I offer one-on-one online tutoring through Zoom for <b>$50/hr</b>, and <i>(to select students in Melbourne)</i> face-to-face tutoring for <b>$75/hr</b>.</p>
				
				<p>Within my services, I provide:</p>
				<ul>
					<li>Teaching & revision.</li>
					<li>Diagnostic questions.</li>
					<li>Prerequisite bridging.</li>
					<li>Subject notes.</li> 
					<li>Worked solutions.</li> 
					<li>SAC/exam preparation resources.</li>
					<li>Personalised study plans.</li>
					<li>Education advice.</li>
				</ul>
			<p>To schedule a booking or ask a question, please <a href="/contact">contact me</a>.</p>
			</div>
		</section>
	</main>
</Layout>

<style>
	.mid {
		margin: 0px auto;
		max-width: 45ch;
		text-align: center;
		color: rgba(0, 0, 0, 0.7);
	}

	.row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 50px 0px;
		align-items: start;
		gap: 10vh;
	}

	.col-title {
		font-family: "Times New Roman";
		font-weight: 500;
		font-size: 30px;
	}

	.profile-img {
		display: block;
		width: 100%;
		border-radius: 50%;
		box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	}
	.left { justify-self: end; }
	.right { justify-self: start; }
	.left, .center { max-width: 34ch; }
	.right { max-width: 44ch; }
</style>	