<nav>
	<div class="logo">
		<a href="/">CONNOR FRISBY</a>
	</div>
	<div class="links">
		<a href="/">HOME</a>
		<a href="/about">ABOUT ME</a>
		<a href="/tutoring">TUTORING</a>
		<a href="/contact">CONTACT</a>
	</div>
</nav>

<style>
	.logo a {
		font-size: 30px;
		padding: 5%;
		font-weight: 700;
		white-space: nowrap;
	}
	nav {
		display: flex;
		justify-content: space-between;
		padding: 0 12%;
		align-items: center;
		position: sticky;
		width: 100%;
		z-index: 10;
		top: 0;
		color: rgba(0,0,0,0.7);
		background: rgb(255, 255, 255);
		box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
		box-sizing: border-box;
	}
	nav a {
		display: inline-block;
		color: inherit;
		font-size: 1.5rem;
		text-decoration: none;
	}
	h1 a {
		font-size: inherit;
	}
	.links {
		display : flex;
		gap: 5rem;
	}
	.logo {
		letter-spacing: 0.3em;
		color: rgba(0,0,0,0.7);
	}
</style>